* {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

body {
    background-color: #000;
    color: #fff;
}

div.count {
    position: relative;
    width: 50%;
    height: 50vh;
    text-align: center;
    margin-top: 25%;
    margin-left: 25%;
    font-size: 10em;
    font-weight: 100;
}

div.no {
    position: absolute;
    left: 0;
    right: 0;
}

#ten,
#nine,
#eight,
#seven,
#six,
#five,
#four,
#three,
#two,
#one,
#text {
    visibility: hidden;
}
.no{
    animation: 1s fadeIn;
    animation-fill-mode: forwards; 
}
/* #ten {
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
} */

#nine {
    animation-delay: 1s;
}

#eight {
    animation-delay: 2s;
}

#seven {
    animation-delay: 3s;
}

#six {
    animation-delay: 4s;
}

#five {
    animation-delay: 5s;
}

#four {
    animation-delay: 6s;
}

#three {
    animation-delay: 7s;
}

#two {
    animation-delay: 8s;
}

#one {
    animation-delay: 9s;
}

#text {
    animation-delay: 10s;
    font-size: 70px;
}

@keyframes fadeIn {
    0% {
        visibility: hidden;
    }

    99% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }

}

@keyframes fadeInOut {
    0% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }

}